@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
   background-color: #121212;
   font-family: 'Poppins', sans-serif;
   /* font-family: 'Inconsolata', monospace; */
   color: #ffffff;
}
select {
   background-color: #ffffff;
}
.bvleft {
	padding-right: 0;
}
.bvright {
	padding-left: 0;
}
.btn-block {
   width: 100%;
   outline-color: #ffffff;
}
.btn-block:hover {
   background-color: #121212;
   color: #ffffff;
}
.card {
   border-color: #ffffff;
   background-color: #121212;
}
.card-header, .card-footer {
   border-color: #ffffff;
   background-color: #121212;
}
#cards {
   background-color: #121212;
   color:#ffffff;
   justify-content: center;
   font-family: 'Roboto Mono', monospace;
   text-align: center;
   font-size: .8em;
}
#seckey {
   background-color: #121212;
   color:#ffffff;
   justify-content: center;
   font-family: 'Roboto Mono', monospace;
   text-align: center;
   font-size: .8em;
}
#debug {
   font-family: 'Roboto Mono', monospace;
   font-size: .8em;
}
#customs {
   background-color: #121212;
   color:#ffffff;
   text-align: center;
}
#curs{
   background-color: #121212;
   color:#ffffff;
   text-align: center;
}
#gates {
   background-color: #121212;
   color:#ffffff;
   text-align: center;
}
.btn-block:focus {
  outline: none;
  box-shadow: none;
}
#cvv, #amount, #bin, #month, #year {
   background-color: #121212;
   color:#ffffff;
}
#channels, #pages {
   background-color: #121212;
   color:#ffffff;
}
#check {
   padding-right: 0;
}
.splive {
   float: left;
}
.spccn {
   text-align: center;
}
.spdead {
   float: right;
}
.text-center {
   text-align: center;
}
#counter {
   font-size: 80%;
}
.btn-outline-light:hover {
   background-color: #121212;
   color: #ffffff;
}
#showcvv,#showccn,#showdead, #showcharge {
   float: right;
   font-family: 'Roboto Mono', monospace;

}
#clearccn,#clearcvv, #cleardead, #clearcharge {
   float: right;
   font-family: 'Roboto Mono', monospace;
   margin-right: 5px;
}
#ccns, #cvvs, #deads, #charges {
   font-family: 'Roboto Mono', monospace;
   color: #ffffff;
}
.badge {
    color: white;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 90%;
}
.bvlogo {
   width: 60%; 
    max-width: 60%; 
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%);
}
 #username, #password {
    background-color: #121212;
   color:#ffffff;
   margin-bottom: 10px;
}
.bvborder { 
    outline: none;
    box-shadow: 0 0 7px #ffffff;
}
.blackvatican {
   color: #ffffff;
   text-align: center;
   border: none;
   font-size: .75em;
   overflow: auto;
}


table {
   table-layout:fixed;
   width:100%;
}